<<<<<<< HEAD
p{
    width: 80%;
    font-size: 24px;
    line-height: 30px;
    margin: 50px auto;
=======
p{
    width: 80%;
    font-size: 24px;
    line-height: 30px;
    margin: 50px auto;
>>>>>>> 7653609873538b48e64da101a9de90d686ca8ba4
}